.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  text-align: center;
width:100%;
  }
  

  .title-histogram {
    color:rgb(146, 142, 142);
  margin-top :7%;  font-size: 30px;
  margin-left:2.5%;
  margin-bottom: -8%;
  }
.bar {
  fill: var(--color);
  width:100%;
  font-size:16px;
  position:absolute;
  margin-left:40%;
  text-align:center;
}
.noDataText{
  position:absolute;
font-size: 35px;
font-weight:bold;
margin-left:-1%
}