.container {
  display: flex;
  gap: 25px; 
margin-right:35%;
margin-left:1%
}

nz-card {
  margin-top:2%;
  border-radius: 10px;
  background-color: transparent;
 border-width: 0px;
  width:280px;
  height:230px;
  box-shadow: 30px 30px 37px rgba(0, 0, 0, 0.3);

}
.title-card {
  color:rgb(146, 142, 142);
margin-top :-2%;  font-size: 30px;
margin-left:-217%;
}
.card-meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: max-content;
}

.card-icon {
  font-size: 67px;
margin-right:10%;
margin-left:30%;
margin-top:-10%;
color:white;

}

.card-title {
  margin-top: 8%;
  font-size: 24px;
  margin-right:-50%;
  margin-left:10%;
}
.value{
  margin-right:10%;
margin-left:30%;
  font-weight:bold;
  font-size: 25px;
 
}

.hoverable-card {
  transition: transform 0.3s ease; 
}

.hoverable-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translate(-5px, -5px); 
}
.seg{

  background-color:rgb(190, 44, 151);
}

.speak{
  background-color: blue;

}
.total{
  background-color: rgb(86, 188, 228)

}
.average{
  background-color:rgb(243, 97, 197);

}