
 nz-layout-sider, nz-layout-content, ul[nz-menu]  {
    height: 100%;
  }

  nz-sider {
    background-color: #001529; 
  overflow: hidden;
  }

  .logo-image {
    width: 140px; 
    height: auto; 
    display: block; 
    margin: 10px auto; 
  }
  .logo {
    float: left;
    margin-left: -10px;
  }
  .menu-items {
    float: left;
    margin-left: 20px;
    line-height: 64px; 
  }
 